<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Nanika">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/assets/ico.png" type="image/png">
    <title>API Documents</title>
</head>
<body>
    <header>
        <h1>
            API Instruction
        </h1>
    </header>
    <div class="" id="box">
        <p><h2>How to use?</h2></p>
        <p>Simply make a request to:</p>
        <a href="/search?q=I love you 3000">/search?q=I love you 3000</a>
        <p><b>Mode 1:</b> Source will be from NhacCuaTu</p>
        <p><b>Mode 2:</b> Source will be from Chiasenhac</p>
        <p>You can replace <u><strong>I love you 3000</u></strong> with the name of any song</p>
        <b>Switch mode by using SOURCEMODE=1 or 2 in the .env file</b>
    </div>
    <footer>
        <p>Copyright Nanika&copy;2021</p>
        <p>Please contact: <a href="https://facebook.com/nani.nanika23" class="no-un">Hoàng Bùi</a> for more information</p>
    </footer>
</body>
</html>